/local.properties
/gradlew
/gradlew.bat

.gradle/
.idea/
.kotlin/
build/

composeApp/.gradle/
composeApp/build/

iosApp/iosApp.xcodeproj/
iosApp/iosApp.xcworkspace/
iosApp/Pods/
iosApp/ru.lproj/
iosApp/YandexMapsMobile.xcframework/

shared/build/